<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathservice"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="33" />

    <application
        android:label="Math Service"
        android:persistent="true"
        android:directBootAware="true">

        <service
            android:name=".MathService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_SYSTEM_SERVICE">
            <intent-filter>
                <action android:name="com.example.mathservice.IMathService" />
            </intent-filter>
        </service>

    </application>

</manifest>
